.user-add-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  border-width: 1rem;
  border-style: double;
  border-color: darkcyan;
}
.user-add-form .validare {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-style: oblique;
}

.user-add-form h2 {
  text-align: center;
  font-style: italic;
}

.user-add-form label {
  font-size: 1rem;
}

.user-add-form #submit {
  font-size: 1rem;
  background-color: cyan;
  cursor: pointer;
}

.user-add-form #submit:hover {
  background-color: rgb(247, 147, 33);
}
